<strong>Olá, {{ user }}</strong>
<p>Você cancelou sua visita à empresa no dia.: <strong>{{date}}</strong></p>
<p>
  <small>
    Tenha uma ótima semana!
    <br />
    Esperamos por você outro dia!
  </small>
</p>
