<strong>Olá, {{ user }}</strong>
<p>Recebemos um pedido de alteração de senha neste email</p>
<p>Caso tenha efetuado o pedido, por favor <a href="http://localhost:3000/resetPassword/{{token}}">Clique Aqui!</a></p>
<p>Caso não tenha sido você, favor desconsiderar.</p>
<p>
  <small>
    Obrigado pelo contato e tenha uma ótima semana!
  </small>
</p>
