<strong>Olá, {{ user }}</strong>
<p>Você agendou uma visita à empresa para o dia.: <strong>{{date}}</strong></p>
<p>
  <small>
    Tenha uma ótima semana!
    <br />
    Caso seja necessário um cancelamento, certifique-se de cancelar com 02(duas) horas de antecedência!
  </small>
</p>
